.phone{
    height: calc(1014px/1.5);
    width: calc(480px/1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #636363;
    border-radius: calc(50px/1.5);
    box-shadow: 30px 60px 60px rgba(99,99,99, 0.5);
    /*animation: rotation-portrait 0.4s forwards;*/
}

.phone-rotated{
    height: calc(470px/1.5);
    width: calc(1014px/1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #636363;
    border-radius: calc(50px/1.5);
    box-shadow: 30px 60px 60px rgba(99,99,99, 0.5);
    /*animation: rotation-landscape 0.4s forwards;*/
}

@keyframes rotation-portrait {
    0%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes rotation-landscape {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.screen{
    height: calc(988px/1.5);
    width: calc(456px/1.5);
    border-radius: calc(42px/1.5);
    border: none;
    background-color: #F1F3F6;
}

.screen-rotated{
    height: calc(456px/1.5);
    width: calc(988px/1.5);
    border-radius: calc(50px/1.5);
    border: none;
    background-color: #F1F3F6;
}
