.phone-1{
    height: calc(1014px/1.5);
    width: calc(480px/1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #636363;
    border-radius: calc(50px/1.5);
    box-shadow: 30px 60px 60px rgba(99,99,99, 0.5);
    border: none;
    /*animation: rotation-portrait 0.4s forwards;*/
}

.phone{
    height: calc(1014px/1.5);
    width: calc(480px/1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #636363;
    border-radius: calc(50px/1.5);
    box-shadow: 30px 60px 60px rgba(99,99,99, 0.5);
    border: none;
    animation: portrait 0.4s forwards;
}

.phone-rotated{
    height: calc(470px/1.5);
    width: calc(1014px/1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #636363;
    border-radius: calc(50px/1.5);
    box-shadow: 30px 60px 60px rgba(99,99,99, 0.5);
    border: none;
    animation: portrait 0.4s forwards reverse;
}

.phone-rotated-animation{
    height: calc(470px/1.5);
    width: calc(1014px/1.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #636363;
    border-radius: calc(50px/1.5);
    box-shadow: 30px 60px 60px rgba(99,99,99, 0.5);
    border: none;
}

.screen{
    height: calc(989px/1.5);
    width: calc(456px/1.5);
    border-radius: calc(42px/1.5);
    border: none;
    background-color: white;
    animation: portrait-s 0.4s forwards;
}

.screen-rotated{
    height: calc(456px/1.5);
    width: calc(989px/1.5);
    border-radius: calc(50px/1.5);
    border: none;
    background-color: white;
    animation: portrait-s 0.4s forwards reverse;
}
