.Choice{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.devices{
    display: flex;
    width: 280px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.button{
    cursor: pointer;
    height: 35px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: lightgray;
    color: black;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 10px;
    transition: all .4s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
}

.space{
    width: 10px;
}

.button:hover{
    border: 1px solid black;
}

.active-mobile{
    background-color: black;
    color: white;
    width: 110px;
}

.active-tablet{
    background-color: black;
    color: white;
    width: 110px;
}

.active-desktop{
    background-color: black;
    color: white;
    width: 126.5px;
}

.active{
    background-color: black;
    color: white;
    width: 120px;
}

.active-rotated{
    background-color: black;
    color: white;
    width: 130px;
}

.rotation{
    width: 216px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.size-huge{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.rotated{
    transform: rotate(-90deg);
}

.d-none{
    display: none;
}